body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}
h2 {
    color: rgb(62, 136, 255)
}
h1 {
    cursor: pointer;
}
header {
    background-color: #20a2ff;
    color: white;
    text-align: center;
    padding: 10px 0;
}
s
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    margin: 20px;
}

.articles {
    flex: 1;
    padding: 20px;
}

.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #eaeaea;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}